nav {
  box-sizing: border-box;
  background: lightgray;
  height: auto;
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 1em;
  align-items: center;
}

li {
  padding: 0 1em;
}
